# EDA

#### Import libraries

In [1]:
%run import_libraries.py
hlp = Helper()

#### Load data

In [2]:
raw_df = pd.read_csv('data/downloaded/train_data.csv')
raw_df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [3]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 40 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   amount_tsh             59400 non-null  float64
 2   date_recorded          59400 non-null  object
 3   funder                 55765 non-null  object
 4   gps_height             59400 non-null  int64
 5   installer              55745 non-null  object
 6   longitude              59400 non-null  float64
 7   latitude               59400 non-null  float64
 8   wpt_name               59400 non-null  object
 9   num_private            59400 non-null  int64
 10  basin                  59400 non-null  object
 11  subvillage             59029 non-null  object
 12  region                 59400 non-null  object
 13  region_code            59400 non-null  int64
 14  district_code          59400 non-null  int64
 15  lga                    59400 non-null  object
 16  ward                   59400 non-null  object
 17  population             59400 non-null  int64
 18  public_meeting         56066 non-null  object
 19  recorded_by            59400 non-null  object
 20  scheme_management      55523 non-null  object
 21  scheme_name            31234 non-null  object
 22  permit                 56344 non-null  object
 23  construction_year      59400 non-null  int64
 24  extraction_type        59400 non-null  object
 25  extraction_type_group  59400 non-null  object
 26  extraction_type_class  59400 non-null  object
 27  management             59400 non-null  object
 28  management_group       59400 non-null  object
 29  payment                59400 non-null  object
 30  payment_type           59400 non-null  object
 31  water_quality          59400 non-null  object
 32  quality_group          59400 non-null  object
 33  quantity               59400 non-null  object
 34  quantity_group         59400 non-null  object
 35  source                 59400 non-null  object
 36  source_type            59400 non-null  object
 37  source_class           59400 non-null  object
 38  waterpoint_type        59400 non-null  object
 39  waterpoint_type_group  59400 non-null  object
dtypes: float64(3), int64(7), object(30)
memory usage: 18.1+ MB

#### Check and fill na values in categorical features

In [4]:
raw_df_na_cols = raw_df.columns[raw_df.isna().any()].tolist()
print('{0:20}{1:10}{2}\n'.format('Column name', 'Type', 'Filled NA values count'))

for col in raw_df_na_cols:
    raw_df[col] = raw_df[col].fillna('not_filled')
    print('{0:20}{1:10}{2}'.format(
        col,
        str(raw_df[col].dtype),
        len(raw_df[raw_df[col] == "not_filled"])
    ))

Column name         Type      Filled NA values count

funder              object    3635
installer           object    3655
subvillage          object    371
public_meeting      object    3334
scheme_management   object    3877
scheme_name         object    28166
permit              object    3056

#### Explore data

In [5]:
for feature in raw_df:
    print(f'{feature}: {raw_df[feature].nunique()} \n{raw_df[feature].unique()} \n\n')

id: 59400
[69572  8776 34310 ... 37057 31282 26348]


amount_tsh: 98
[6.00e+03 0.00e+00 2.50e+01 2.00e+01 2.00e+02 5.00e+02 5.00e+01 4.00e+03
 1.50e+03 6.00e+00 2.50e+02 1.00e+01 1.00e+03 1.00e+02 3.00e+01 2.00e+03
 4.00e+02 1.20e+03 4.00e+01 3.00e+02 2.50e+04 7.50e+02 5.00e+03 6.00e+02
 7.20e+03 2.40e+03 5.00e+00 3.60e+03 4.50e+02 4.00e+04 1.20e+04 3.00e+03
 7.00e+00 2.00e+04 2.80e+03 2.20e+03 7.00e+01 5.50e+03 1.00e+04 2.50e+03
 6.50e+03 5.50e+02 3.30e+01 8.00e+03 4.70e+03 7.00e+03 1.40e+04 1.30e+03
 1.00e+05 7.00e+02 1.00e+00 6.00e+01 3.50e+02 2.00e-01 3.50e+01 3.06e+02
 8.50e+03 1.17e+05 3.50e+03 5.20e+02 1.50e+01 6.30e+03 9.00e+03 1.50e+02
 1.20e+05 1.38e+05 3.50e+05 4.50e+03 1.30e+04 4.50e+04 2.00e+00 1.50e+04
 1.10e+04 5.00e+04 7.50e+03 1.63e+04 8.00e+02 1.60e+04 3.00e+04 5.30e+01
 5.40e+03 7.00e+04 2.50e+05 2.00e+05 2.60e+04 1.80e+04 2.60e+01 5.90e+02
 9.00e+02 9.00e+00 1.40e+03 1.70e+05 2.20e+02 3.80e+04 2.50e-01 1.20e+01
 6.00e+04 5.90e+01]


date_recorded: 356
['2011-03-14' '2013-03-06' '2013-02-25' '2013-01-28' '2011-07-13'
 '2011-03-13' '2012-10-01' '2012-10-09' '2012-11-03' '2011-08-03'
 '2011-02-20' '2013-02-18' '2012-10-14' '2013-03-15' '2012-10-20'
 '2011-08-04' '2011-07-04' '2011-09-04' '2011-07-22' '2011-02-22'
 '2011-02-27' '2013-02-10' '2011-10-04' '2013-11-03' '2013-01-21'
 '2013-01-16' '2011-07-11' '2013-03-05' '2013-03-16' '2011-03-23'
 '2011-03-16' '2013-03-19' '2011-03-11' '2011-02-23' '2013-03-28'
 '2011-07-16' '2011-03-27' '2013-02-11' '2013-10-03' '2011-03-12'
 '2011-07-07' '2013-01-15' '2013-03-18' '2012-10-22' '2013-02-05'
 '2011-07-27' '2011-04-04' '2013-02-21' '2011-08-18' '2011-07-31'
 '2011-08-01' '2011-07-14' '2013-02-22' '2013-07-03' '2013-08-03'
 '2013-01-22' '2011-03-22' '2013-05-03' '2013-01-19' '2013-02-09'
 '2011-01-04' '2013-02-04' '2011-03-05' '2011-03-31' '2013-02-27'
 '2011-08-07' '2011-03-30' '2012-10-23' '2011-03-02' '2011-03-04'
 '2013-03-14' '2012-10-18' '2011-08-08' '2011-09-05' '2011-04-11'
 '2013-01-17' '2013-01-20' '2013-01-27' '2013-02-19' '2012-10-06'
 '2013-02-13' '2013-02-26' '2013-02-16' '2013-02-17' '2011-07-21'
 '2011-03-07' '2011-07-12' '2011-07-17' '2011-04-07' '2011-04-10'
 '2012-10-29' '2011-02-25' '2012-10-11' '2013-02-14' '2012-10-05'
 '2011-07-19' '2011-04-15' '2011-03-17' '2013-01-25' '2011-10-07'
 '2011-02-24' '2013-03-21' '2011-08-02' '2011-02-03' '2013-01-24'
 '2012-10-21' '2011-04-16' '2013-02-03' '2013-02-24' '2011-04-02'
 '2012-10-19' '2013-01-30' '2011-03-03' '2011-08-17' '2011-03-28'
 '2011-07-23' '2013-02-06' '2011-08-11' '2011-03-09' '2011-03-18'
 '2013-03-07' '2011-08-14' '2013-09-03' '2011-02-16' '2011-04-03'
 '2011-07-09' '2011-04-12' '2011-04-14' '2011-03-10' '2013-03-25'
 '2013-02-28' '2013-01-18' '2012-10-10' '2011-07-03' '2011-08-05'
 '2011-07-20' '2013-03-13' '2011-03-15' '2011-07-18' '2013-03-03'
 '2011-11-07' '2013-04-04' '2012-10-16' '2013-03-23' '2013-04-03'
 '2013-02-08' '2011-03-21' '2011-04-05' '2012-10-15' '2011-03-19'
 '2013-06-03' '2013-03-29' '2012-10-28' '2011-07-15' '2012-10-12'
 '2011-07-29' '2011-08-06' '2012-10-13' '2013-03-02' '2013-02-12'
 '2013-01-29' '2013-01-04' '2012-10-25' '2012-11-13' '2013-02-01'
 '2011-08-10' '2013-03-17' '2011-07-30' '2011-02-21' '2011-02-17'
 '2011-08-19' '2013-02-15' '2013-02-02' '2013-01-26' '2011-04-06'
 '2011-08-21' '2013-03-24' '2013-10-02' '2011-04-01' '2013-02-23'
 '2013-02-20' '2011-04-08' '2011-03-29' '2011-03-25' '2013-03-01'
 '2013-05-04' '2012-11-05' '2011-03-24' '2011-03-20' '2013-03-04'
 '2012-10-26' '2013-06-04' '2011-08-20' '2013-02-07' '2011-07-24'
 '2011-07-25' '2013-03-22' '2013-08-02' '2011-07-28' '2013-03-12'
 '2013-03-30' '2013-12-03' '2011-03-26' '2011-03-08' '2013-01-23'
 '2012-11-04' '2012-10-02' '2012-10-07' '2011-04-18' '2012-11-15'
 '2011-08-12' '2011-08-23' '2012-10-08' '2011-02-26' '2013-03-26'
 '2011-03-01' '2012-12-14' '2011-02-14' '2013-01-14' '2012-10-04'
 '2011-07-26' '2012-10-27' '2012-10-17' '2013-09-02' '2012-10-03'
 '2013-03-20' '2012-11-08' '2011-02-15' '2012-10-24' '2013-03-10'
 '2011-07-06' '2011-07-08' '2012-12-13' '2011-08-25' '2004-08-01'
 '2011-04-09' '2012-10-31' '2011-03-06' '2013-07-02' '2012-11-12'
 '2011-02-28' '2011-02-02' '2013-01-31' '2011-07-10' '2011-04-17'
 '2011-07-05' '2011-06-04' '2011-08-22' '2011-01-03' '2013-01-13'
 '2012-11-09' '2013-01-11' '2011-01-08' '2013-07-04' '2011-02-18'
 '2011-08-13' '2012-11-06' '2011-06-03' '2013-01-12' '2013-03-08'
 '2004-12-01' '2012-12-16' '2011-04-13' '2012-11-01' '2013-03-27'
 '2011-12-03' '2013-01-08' '2011-04-19' '2012-12-15' '2012-10-30'
 '2011-08-16' '2013-01-07' '2013-01-03' '2013-05-02' '2011-08-15'
 '2011-02-19' '2011-11-03' '2011-04-21' '2013-01-10' '2012-11-10'
 '2011-12-07' '2012-11-11' '2011-10-03' '2011-08-26' '2011-04-22'
 '2011-08-09' '2011-06-07' '2002-10-14' '2013-03-09' '2011-02-04'
 '2013-01-09' '2012-12-12' '2012-11-14' '2012-12-11' '2011-04-20'
 '2012-12-18' '2011-08-27' '2013-12-02' '2013-11-02' '2011-09-27'
 '2011-08-24' '2011-09-03' '2012-11-29' '2011-09-19' '2012-12-21'
 '2012-11-02' '2013-03-11' '2012-11-19' '2011-05-03' '2012-12-10'
 '2011-11-04' '2004-05-01' '2004-04-05' '2012-12-17' '2012-11-07'
 '2012-11-30' '2004-06-01' '2011-05-07' '2012-12-23' '2011-09-09'
 '2012-12-24' '2011-05-04' '2011-04-23' '2013-04-02' '2011-02-01'
 '2011-09-18' '2011-09-06' '2011-09-20' '2004-03-01' '2011-09-17'
 '2013-01-01' '2004-01-07' '2004-07-01' '2011-09-11' '2011-08-31'
 '2011-09-21' '2011-08-30' '2011-08-28' '2011-09-01' '2011-09-28'
 '2011-09-16' '2011-09-13' '2011-09-08' '2011-09-23' '2013-01-06'
 '2011-09-14' '2004-03-06' '2012-01-21' '2012-01-25' '2011-09-15'
 '2011-09-25' '2004-09-01' '2004-04-01' '2011-09-26' '2011-09-12'
 '2013-12-01']


funder: 1898
['Roman' 'Grumeti' 'Lottery Club' ... 'Dina' 'Brown' 'Samlo']


gps_height: 2428
[1390 1399  686 ...  -90 2091 2366]


installer: 2146
['Roman' 'GRUMETI' 'World vision' ... 'Dina' 'brown' 'SELEPTA']


longitude: 57516
[34.93809275 34.6987661  37.46066446 ... 34.01708706 35.86131531
 38.10404822]


latitude: 57517
[-9.85632177 -2.14746569 -3.82132853 ... -8.75043433 -6.37857327
 -6.74746425]


wpt_name: 37400
['none' 'Zahanati' 'Kwa Mahundi' ... 'Kwa Yahona Kuvala' 'Mshoro'
 'Kwa Mzee Lugawa']


num_private: 65
[   0   39    5   45    6    3  698   32   15    7   25  102    1   93
   14   34  120   17  213   47    8   41   80  141   20   35  131    4
   22   11   87   61   65  136    2  180   38   62    9   16   23   42
   24   12  668  672   58  150  280  160   50 1776   30   27   10   94
   26  450  240  755   60  111  300   55 1402]


basin: 9
['Lake Nyasa' 'Lake Victoria' 'Pangani' 'Ruvuma / Southern Coast'
 'Internal' 'Lake Tanganyika' 'Wami / Ruvu' 'Rufiji' 'Lake Rukwa']


subvillage: 19288
['Mnyusi B' 'Nyamara' 'Majengo' ... 'Itete B' 'Maore Kati' 'Kikatanyemba']


region: 21
['Iringa' 'Mara' 'Manyara' 'Mtwara' 'Kagera' 'Tanga' 'Shinyanga' 'Tabora'
 'Pwani' 'Ruvuma' 'Kilimanjaro' 'Rukwa' 'Mwanza' 'Kigoma' 'Lindi' 'Dodoma'
 'Arusha' 'Mbeya' 'Singida' 'Morogoro' 'Dar es Salaam']


region_code: 27
[11 20 21 90 18  4 17 14 60 10  3 15 19 16 80  1  6  2 12 13  5  7 99 24
  9  8 40]


district_code: 20
[ 5  2  4 63  1  8  3  6 43  7 23 33 53 62 60 30 13  0 80 67]


lga: 125
['Ludewa' 'Serengeti' 'Simanjiro' 'Nanyumbu' 'Karagwe' 'Mkinga'
 'Shinyanga Rural' 'Kahama' 'Tabora Urban' 'Mkuranga' 'Namtumbo' 'Maswa'
 'Siha' 'Meatu' 'Sumbawanga Rural' 'Njombe' 'Ukerewe' 'Bariadi' 'Same'
 'Kigoma Rural' 'Moshi Rural' 'Lindi Rural' 'Rombo' 'Chamwino' 'Bagamoyo'
 'Mafia' 'Arusha Rural' 'Kyela' 'Kondoa' 'Kilolo' 'Kibondo' 'Makete'
 'Singida Rural' 'Masasi' 'Rungwe' 'Moshi Urban' 'Geita' 'Mbulu'
 'Bukoba Rural' 'Muheza' 'Lushoto' 'Meru' 'Iramba' 'Kilombero' 'Mbarali'
 'Kasulu' 'Bukoba Urban' 'Korogwe' 'Bukombe' 'Morogoro Rural' 'Kishapu'
 'Musoma Rural' 'Sengerema' 'Iringa Rural' 'Muleba' 'Dodoma Urban'
 'Ruangwa' 'Hanang' 'Misenyi' 'Missungwi' 'Songea Rural' 'Tanga' 'Tunduru'
 'Hai' 'Mwanga' 'Chato' 'Biharamulo' 'Ileje' 'Mpwapwa' 'Mvomero' 'Bunda'
 'Kiteto' 'Longido' 'Urambo' 'Mbozi' 'Sikonge' 'Ilala' 'Tarime' 'Temeke'
 'Mbeya Rural' 'Magu' 'Manyoni' 'Igunga' 'Kilosa' 'Babati' 'Chunya'
 'Mufindi' 'Mtwara Rural' 'Ngara' 'Karatu' 'Mpanda' 'Kibaha'
 'Singida Urban' 'Newala' 'Nzega' 'Nkasi' 'Bahi' 'Mbinga' 'Ulanga'
 'Sumbawanga Urban' 'Morogoro Urban' 'Tandahimba' 'Kisarawe'
 'Mtwara Urban' 'Kilwa' 'Liwale' 'Kongwa' 'Uyui' 'Rufiji' 'Kwimba'
 'Monduli' 'Shinyanga Urban' 'Ngorongoro' 'Handeni' 'Rorya' 'Pangani'
 'Lindi Urban' 'Nachingwea' 'Kinondoni' 'Kigoma Urban' 'Ilemela' 'Kilindi'
 'Arusha Urban' 'Songea Urban' 'Nyamagana']


ward: 2092
['Mundindi' 'Natta' 'Ngorika' ... 'Chinugulu' 'Nyamtinga' 'Kinungu']


population: 1049
[109 280 250 ... 845 976 788]


public_meeting: 3
[True 'not_filled' False]


recorded_by: 1
['GeoData Consultants Ltd']


scheme_management: 13
['VWC' 'Other' 'not_filled' 'Private operator' 'WUG' 'Water Board' 'WUA'
 'Water authority' 'Company' 'Parastatal' 'Trust' 'SWC' 'None']


scheme_name: 2697
['Roman' 'not_filled' 'Nyumba ya mungu pipe scheme' ... 'BL Nsherehehe'
 'Magati  gravity spri' 'Mtawanya']


permit: 3
[False True 'not_filled']


construction_year: 55
[1999 2010 2009 1986    0 2011 1987 1991 1978 1992 2008 1974 2000 2002
 2004 1972 2003 1980 2007 1973 1985 1970 1995 2006 1962 2005 1997 2012
 1996 1977 1983 1984 1990 1982 1976 1988 1989 1975 1960 1961 1998 1963
 1971 1994 1968 1993 2001 1979 1967 2013 1969 1981 1964 1966 1965]


extraction_type: 18
['gravity' 'submersible' 'swn 80' 'nira/tanira' 'india mark ii' 'other'
 'ksb' 'mono' 'windmill' 'afridev' 'other - rope pump' 'india mark iii'
 'other - swn 81' 'other - play pump' 'cemo' 'climax' 'walimi'
 'other - mkulima/shinyanga']


extraction_type_group: 13
['gravity' 'submersible' 'swn 80' 'nira/tanira' 'india mark ii' 'other'
 'mono' 'wind-powered' 'afridev' 'rope pump' 'india mark iii'
 'other handpump' 'other motorpump']

extraction_type_class: 7
['gravity' 'submersible' 'handpump' 'other' 'motorpump' 'wind-powered'
 'rope pump']


management: 12
['vwc' 'wug' 'other' 'private operator' 'water board' 'wua' 'company'
 'water authority' 'parastatal' 'unknown' 'other - school' 'trust']


management_group: 5
['user-group' 'other' 'commercial' 'parastatal' 'unknown']


payment: 7
['pay annually' 'never pay' 'pay per bucket' 'unknown'
 'pay when scheme fails' 'other' 'pay monthly']


payment_type: 7
['annually' 'never pay' 'per bucket' 'unknown' 'on failure' 'other'
 'monthly']


water_quality: 8
['soft' 'salty' 'milky' 'unknown' 'fluoride' 'coloured' 'salty abandoned'
 'fluoride abandoned']


quality_group: 6
['good' 'salty' 'milky' 'unknown' 'fluoride' 'colored']


quantity: 5
['enough' 'insufficient' 'dry' 'seasonal' 'unknown']


quantity_group: 5
['enough' 'insufficient' 'dry' 'seasonal' 'unknown']


source: 10
['spring' 'rainwater harvesting' 'dam' 'machine dbh' 'other'
 'shallow well' 'river' 'hand dtw' 'lake' 'unknown']


source_type: 7
['spring' 'rainwater harvesting' 'dam' 'borehole' 'other' 'shallow well'
 'river/lake']


source_class: 3
['groundwater' 'surface' 'unknown']


waterpoint_type: 7
['communal standpipe' 'communal standpipe multiple' 'hand pump' 'other'
 'improved spring' 'cattle trough' 'dam']


waterpoint_type_group: 6
['communal standpipe' 'hand pump' 'other' 'improved spring'
 'cattle trough' 'dam']

`id`, `date_recorded`, `recorded_by` do not give usefull information to our model
<br>
Looks like `wpt_name`, `subvillage` will lead to model overfitting 
<br>
`num_private` - no description
<br>
`region_code`, `district_code`, `lga`, `ward`, `scheme_name`, `extraction_type`, `extraction_type_group`, `management`, `payment`, `water_quality`, `quantity_group`, `source`, `source_class`, `waterpoint_type` are duplicates or very simmilar

In [6]:
features = raw_df[['amount_tsh', 'funder', 'gps_height', 'installer', 'longitude', 'latitude', 
                             'basin', 'region', 'population', 'public_meeting', 'scheme_management', 
                             'permit', 'construction_year', 'extraction_type_class', 'management_group', 
                             'payment_type', 'quality_group', 'quantity', 'source_type']]

#### Import labels

In [7]:
labels = pd.read_csv('data/downloaded/train_labels.csv')
labels = labels.status_group
labels.unique()

array(['functional', 'non functional', 'functional needs repair'],
      dtype=object)

#### Concatenate features and labels

In [8]:
data = pd.concat([features,labels], axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   amount_tsh             59400 non-null  float64
 1   funder                 59400 non-null  object
 2   gps_height             59400 non-null  int64
 3   installer              59400 non-null  object
 4   longitude              59400 non-null  float64
 5   latitude               59400 non-null  float64
 6   basin                  59400 non-null  object
 7   region                 59400 non-null  object
 8   population             59400 non-null  int64
 9   public_meeting         59400 non-null  object
 10  scheme_management      59400 non-null  object
 11  permit                 59400 non-null  object
 12  construction_year      59400 non-null  int64
 13  extraction_type_class  59400 non-null  object
 14  management_group       59400 non-null  object
 15  payment_type           59400 non-null  object
 16  quality_group          59400 non-null  object
 17  quantity               59400 non-null  object
 18  source_type            59400 non-null  object
 19  status_group           59400 non-null  object
dtypes: float64(3), int64(3), object(14)
memory usage: 9.1+ MB

#### Convert boolean values to string

In [9]:
mask = data.applymap(type) != bool
d = {True: 'yes', False: 'no'}

data = data.where(mask, data.replace(d))

#### Save

In [10]:
with open('data/preprocessed/data.pickle', 'wb') as file:
    pickle.dump(data, file)

#### Check number of unique values for each feature

In [11]:
for f in data:
    print(f'\n\n--------------------------------------------\n{f}: {data[f].nunique()}\n')
    print(data[f].value_counts() )

--------------------------------------------
amount_tsh: 98

0.0         41639
500.0        3102
50.0         2472
1000.0       1488
20.0         1463
            ...
8500.0          1
6300.0          1
220.0           1
138000.0        1
12.0            1
Name: amount_tsh, Length: 98, dtype: int64


--------------------------------------------
funder: 1898

Government Of Tanzania    9084
not_filled                3635
Danida                    3114
Hesawa                    2202
Rwssp                     1374
                          ...
Waitaliano                   1
Mahemba                      1
Nyamuhanga Maro              1
Wame Mbiki                   1
Morad                        1
Name: funder, Length: 1898, dtype: int64


--------------------------------------------
gps_height: 2428

 0       20438
-15         60
-16         55
-13         55
-20         52
         ...
 2285        1
 2424        1
 2552        1
 2413        1
 2385        1
Name: gps_height, Length: 2428, dtype: int64


--------------------------------------------
installer: 2146

DWE             17402
not_filled       3655
Government       1825
RWE              1206
Commu            1060
                ...
KILANGANI CO        1
EWE                 1
BKHWS               1
VILLAGE             1
Pentekoste          1
Name: installer, Length: 2146, dtype: int64


--------------------------------------------
longitude: 57516

0.000000     1812
37.540901       2
33.010510       2
39.093484       2
32.972719       2
             ...
37.579803       1
33.196490       1
34.017119       1
33.788326       1
30.163579       1
Name: longitude, Length: 57516, dtype: int64


--------------------------------------------
latitude: 57517

-2.000000e-08    1812
-6.985842e+00       2
-3.797579e+00       2
-6.981884e+00       2
-7.104625e+00       2
                 ...
-5.726001e+00       1
-9.646831e+00       1
-8.124530e+00       1
-2.535985e+00       1
-2.598965e+00       1
Name: latitude, Length: 57517, dtype: int64


--------------------------------------------
basin: 9

Lake Victoria              10248
Pangani                     8940
Rufiji                      7976
Internal                    7785
Lake Tanganyika             6432
Wami / Ruvu                 5987
Lake Nyasa                  5085
Ruvuma / Southern Coast     4493
Lake Rukwa                  2454
Name: basin, dtype: int64


--------------------------------------------
region: 21

Iringa           5294
Shinyanga        4982
Mbeya            4639
Kilimanjaro      4379
Morogoro         4006
Arusha           3350
Kagera           3316
Mwanza           3102
Kigoma           2816
Ruvuma           2640
Pwani            2635
Tanga            2547
Dodoma           2201
Singida          2093
Mara             1969
Tabora           1959
Rukwa            1808
Mtwara           1730
Manyara          1583
Lindi            1546
Dar es Salaam     805
Name: region, dtype: int64


--------------------------------------------
population: 1049

0       21381
1        7025
200      1940
150      1892
250      1681
        ...
3241        1
1960        1
1685        1
2248        1
1439        1
Name: population, Length: 1049, dtype: int64


--------------------------------------------
public_meeting: 3

yes           51011
no             5055
not_filled     3334
Name: public_meeting, dtype: int64


--------------------------------------------
scheme_management: 13

VWC                 36793
WUG                  5206
not_filled           3877
Water authority      3153
WUA                  2883
Water Board          2748
Parastatal           1680
Private operator     1063
Company              1061
Other                 766
SWC                    97
Trust                  72
None                    1
Name: scheme_management, dtype: int64


--------------------------------------------
permit: 3

yes           38852
no            17492
not_filled     3056
Name: permit, dtype: int64


--------------------------------------------
construction_year: 55

0       20709
2010     2645
2008     2613
2009     2533
2000     2091
2007     1587
2006     1471
2003     1286
2011     1256
2004     1123
2012     1084
2002     1075
1978     1037
1995     1014
2005     1011
1999      979
1998      966
1990      954
1985      945
1980      811
1996      811
1984      779
1982      744
1994      738
1972      708
1974      676
1997      644
1992      640
1993      608
2001      540
1988      521
1983      488
1975      437
1986      434
1976      414
1970      411
1991      324
1989      316
1987      302
1981      238
1977      202
1979      192
1973      184
2013      176
1971      145
1960      102
1967       88
1963       85
1968       77
1969       59
1964       40
1962       30
1961       21
1965       19
1966       17
Name: construction_year, dtype: int64


--------------------------------------------
extraction_type_class: 7

gravity         26780
handpump        16456
other            6430
submersible      6179
motorpump        2987
rope pump         451
wind-powered      117
Name: extraction_type_class, dtype: int64


--------------------------------------------
management_group: 5

user-group    52490
commercial     3638
parastatal     1768
other           943
unknown         561
Name: management_group, dtype: int64


--------------------------------------------
payment_type: 7

never pay     25348
per bucket     8985
monthly        8300
unknown        8157
on failure     3914
annually       3642
other          1054
Name: payment_type, dtype: int64


--------------------------------------------
quality_group: 6

good        50818
salty        5195
unknown      1876
milky         804
colored       490
fluoride      217
Name: quality_group, dtype: int64


--------------------------------------------
quantity: 5

enough          33186
insufficient    15129
dry              6246
seasonal         4050
unknown           789
Name: quantity, dtype: int64


--------------------------------------------
source_type: 7

spring                  17021
shallow well            16824
borehole                11949
river/lake              10377
rainwater harvesting     2295
dam                       656
other                     278
Name: source_type, dtype: int64


--------------------------------------------
status_group: 3

functional                 32259
non functional             22824
functional needs repair     4317
Name: status_group, dtype: int64

#### Count missing values

In [12]:
print('Missing values count')
for f in data:
    zero_val_len = len(data[data[f] == 0])
    if zero_val_len > 0:
        print('{0:25}{1}'.format(f,zero_val_len))

Missing values count
amount_tsh               41639
gps_height               20438
longitude                1812
population               21381
construction_year        20709

## EDA <small style="color:#000"><strong>Use visualization.ipynb file</strong></small>

## Data cleaning
Dataset will be saved 2 times with different preprocessing:
    1. Data with combined categorical data for `funder` and `installer`
    2. The same as 1, but with removed outliers, and dropped all missing values

`amount_tsh` - 41639 of 59400 values missing: better to remove whole column

In [13]:
data.drop('amount_tsh', axis=1, inplace=True)

#### Split dataset first to avoid data leakage

In [14]:
train, test = train_test_split(data,random_state=42)

#### 1. Features with combined categorical data
Decrease unique values of selected columns to 100 (set value 'Other' for less frequent columns)

In [15]:
train_funder_col_names, assigned_val, train.funder = hlp.reduce_cat_num(train.funder,'Other')
test.funder = hlp.apply_reduced_cats(test.funder,train_funder_col_names,assigned_val)

train_installer_col_names, assigned_val, train.installer = hlp.reduce_cat_num(train.installer,'Other')
test.installer = hlp.apply_reduced_cats(test.installer,train_installer_col_names,assigned_val)

#### Save

In [16]:
with open('data/preprocessed/train_comb_cats.pickle', 'wb') as file:
    pickle.dump(train, file)
    
with open('data/preprocessed/test_comb_cats.pickle', 'wb') as file:
    pickle.dump(test, file)

#### 2. Features with combined categorical data, removed outliers, and dropped all missing values

In [17]:
# train dropped missing values
train_dmv = train.copy()
train_dmv = train_dmv[train_dmv['gps_height'] != 0]
train_dmv = train_dmv[train_dmv['longitude'] != 0]
train_dmv = train_dmv[train_dmv['population'] != 0]
train_dmv = train_dmv[train_dmv['construction_year'] != 0]

hlp.print_reduce_perc(train,train_dmv)

'Dataframe length -  before: 44550, after: 27514. Size reduction: 38.24%'

In [18]:
# Check for -2.000000e-08 value
train_dmv.latitude.value_counts()

-6.994704    2
-6.975594    2
-6.978263    2
-7.102004    2
-6.962475    2
            ..
-6.518852    1
-7.738807    1
-9.725791    1
-4.429275    1
-7.159651    1
Name: latitude, Length: 27485, dtype: int64

#### Remove outliers

In [19]:
possible_outliers_cols = ['gps_height','longitude','latitude','population']
train_dmv_cleaned = train_dmv[(np.abs(stats.zscore(train_dmv[possible_outliers_cols])) < 3).all(axis=1)]

hlp.print_reduce_perc(train_dmv,train_dmv_cleaned)

'Dataframe length -  before: 27514, after: 27082. Size reduction: 1.57%'

#### Save

In [20]:
with open('data/preprocessed/train_comb_cats_cleaned.pickle', 'wb') as file:
    pickle.dump(train_dmv_cleaned, file)

## Data for submission

#### Load test dataset

In [21]:
test_df = pd.read_csv('data/downloaded/test_data.csv')
test_df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,50785,0.0,2013-02-04,Dmdd,1996,DMDD,35.290799,-4.059696,Dinamu Secondary School,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,other,other
1,51630,0.0,2013-02-04,Government Of Tanzania,1569,DWE,36.656709,-3.309214,Kimnyak,0,...,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
2,17168,0.0,2013-02-01,NaN,1567,NaN,34.767863,-5.004344,Puma Secondary,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,other,other
3,45559,0.0,2013-01-22,Finn Water,267,FINN WATER,38.058046,-9.418672,Kwa Mzee Pange,0,...,unknown,soft,good,dry,dry,shallow well,shallow well,groundwater,other,other
4,49871,500.0,2013-03-27,Bruder,1260,BRUDER,35.006123,-10.950412,Kwa Mzee Turuka,0,...,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe

#### Fill na values in categorical features

In [27]:
test_df_na_cols = test_df.columns[test_df.isna().any()].tolist()
for col in test_df_na_cols:
    test_df[col] = test_df[col].fillna('not_filled')

In [28]:
test_features = test_df[['funder', 'gps_height', 'installer', 'longitude', 'latitude', 
                             'basin', 'region', 'population', 'public_meeting', 'scheme_management', 
                             'permit', 'construction_year', 'extraction_type_class', 'management_group', 
                             'payment_type', 'quality_group', 'quantity', 'source_type']]

#### Convert boolean values to string

In [29]:
# mask = data.applymap(type) != bool
# d = {True: 'yes', False: 'no'}

test_features = test_features.where(mask, test_features.replace(d))

#### Combine categories in `funder` and `installer` columns

In [30]:
data_sm = data.copy() # Submission data

data_sm_funder_col_names, assigned_val, data_sm.funder = hlp.reduce_cat_num(data_sm.funder,'Other')
test_df.funder = hlp.apply_reduced_cats(test_df.funder,data_sm_funder_col_names,assigned_val)

data_sm_installer_col_names, assigned_val, data_sm.installer = hlp.reduce_cat_num(data_sm.installer,'Other')
test_df.installer = hlp.apply_reduced_cats(test_df.installer,data_sm_installer_col_names,assigned_val)

#### Save

In [31]:
with open('data/preprocessed/train_for_SM.pickle', 'wb') as file:
    pickle.dump(data_sm, file)

with open('data/preprocessed/test_for_SM.pickle', 'wb') as file:
    pickle.dump(test_df, file)